<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragmentos :: head}"></head> 
    
<body>

  <div th:replace="~{fragmentos :: header}"></div>

    <div class="container">
      <div class="d-flex justify-content-center mt-3">
        <div th:each="funcionario : ${funcionario}" class="card border-color mb-5" style="width: 50rem;">
          <div class="card-header border-color">
            <h1>Funcionario</h1>
          </div>
          <div class="card-body">
            <form action="/funcionario/salvarFuncionario" method="post">
              <div class="justify-content-between">
                <div class="form-row">
                  <div class="col">
                    <label for="nome">Modelo</label>
                    <input type="text" class="form-control" name="nome" id="nome" th:value="${funcionario.nome}" readonly>
                  </div>
                  <div class="col">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" name="sobrenome" id="sobrenome" th:value="${funcionario.sobrenome}" readonly>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <label for="nome">CPF</label>
                    <input type="text" class="form-control" name="cpf" id="cpf" th:value="${funcionario.cpf}" readonly>
                  </div>
                  <div class="col">
                    <label for="sobrenome">CNH</label>
                    <input type="text" class="form-control" name="cnh" id="cnh" th:value="${funcionario.cnh}" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label for="pis">PIS</label>
                  <input type="text" class="form-control" name="pis" id="pis" th:value="${funcionario.pis}" readonly>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" name="email" id="exampleInputEmail1" th:value="${funcionario.email}" readonly>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

</body>
</html>
</body>
</html>