<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragmentos :: head}"></head>

<body>

    <div th:replace="~{fragmentos :: header}"></div>

    <div class="container">

        <div class="card-header">
            <h1>Todos funcionarios</h1>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
    
            <tbody>
                <tr th:each="funcionario: ${funcionarios}">
                    <th scope="row"><a th:href="@{/funcionario/{id} (id=${funcionario.uuid})}"><span th:text="${funcionario.cpf}"></span></a></th>
                    <td><a th:href="@{/funcionario/{id} (id=${funcionario.uuid})}"><span th:text="${funcionario.nome}"></span></a></td>
                    <td><a th:href="@{/funcionario/{id} (id=${funcionario.uuid})}"><span th:text="${funcionario.sobrenome}"></span></a></td>
                    <td><a th:href="@{/funcionario/alterar/{id} (id=${funcionario.uuid})}"><img src="https://img.icons8.com/material/24/2ECC71/edit--v1.png"/></a></td>
                    <td><a th:href="@{/funcionario/deletar/{id} (id=${funcionario.uuid})}"><img src="https://img.icons8.com/material-rounded/24/E74C3C/trash.png"/></a></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>