<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragmentos :: head}"></head>

<body>

    <div th:replace="~{fragmentos :: header}"></div>

    <div class="container">
        <div th:each="funcionario: ${funcionarios}" class="list-group mb-3 ">
            <a th:href="@{/funcionario/{id} (id=${funcionario.uuid})} " class="list-group-item list-group-item-action" aria-current="true">
                <span th:text="${funcionario.nome}"></span>
            </a>
            
    </div>
    
</body>
</html>