<!DOCTYPE html>
<html lang="pt-br">
  <head th:replace="~{fragmentos :: head}"></head>
  <body>

    <div th:replace="~{fragmentos :: header-user}"></div>

    <div class="container">
          <div class="d-flex justify-content-center">
              <a href="/user">
                  <span th:text="${erro}" th:classappend="${temerro} ? 'alert alert-warning': ''"></span>
              </a>
          </div>
        <div class="d-flex justify-content-center mt-3" th:each="veiculo : ${veiculo}">
          <div class="card border-color mb-5" style="width: 50rem;">
            <div class="card-header border-color">
              <h1>Novo caminhão</h1>
            </div>
            <div class="card-body">
              <form action="/historico/devolver" method="post">
                <div class="justify-content-between">
                  <div class="form-row">
                    <div class="col">
                      <label for="nome">Modelo</label>
                      <input type="text" class="form-control" name="modelo" th:value="${veiculo.modelo}" readonly>
                    </div>
                    <div class="col">
                      <label for="sobrenome">Ano</label>
                      <input type="text" class="form-control" name="ano" th:value="${veiculo.ano}" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <label for="nome">Placa</label>
                      <input type="text" class="form-control" name="placa" th:value="${veiculo.placa}" readonly>
                    </div>
                    <div class="col mb-3">
                      <label for="sobrenome">Quilometragem</label>
                      <input type="text" class="form-control" name="kmRodados" th:value="${veiculo.kmRodados}">
                        
                    </div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-danger" value="Devolver caminhão" style="width: 250px;">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

  </body>
</html>
