<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragmentos :: head}">
</head>
<body>

    <div th:replace="~{fragmentos :: header-user}"></div>
    
    <div class="container">
        <div class="card-header">
            <h1>Veiculos disponiveis</h1>
        </div>

        <div th:classappend="${temVeiculo} ? 'alert alert-danger' : '' " role="alert">
            <span th:text="${erro}"></span>
          </div>

        <table class="table">
            <thead>
                <th scope="col">Nº Registro</th>
                <th scope="col">Model</th>
                <th scope="col">Placa</th>
                <th scope="col">Km</th>
                <th scope="col">Status</th>
                <th></th>
                <th></th>
            </thead>
            <tbody th:each="veiculo : ${veiculos}">
                <th scope="rol"><span th:text="${veiculo.numeracaoVeiculo}"></span></th>
                <td><span th:text="${veiculo.modelo}"></span></td>
                <td><span th:text="${veiculo.placa}"></span></td>
                <td><span th:text="${veiculo.kmRodados}"></span></td>
                <td>
                    <span th:text="${veiculo.statusVeiculo}"></span>
                </td>
                <td><a th:href="@{/veiculo/solicitar/{id} (id=${veiculo.uuid})}"><button type="button" class="btn btn-info">SOLICITAR</button></td>
            </tbody>

        </table>
    </div>



</body>
</html>